/* Estilos para el cuerpo y contenedor */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 320px;
}

/* Estilo para el título enmarcado */
.title-fieldset {
    border: 2px solid #6A1B9A;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.title-legend {
    font-size: 20px;
    font-weight: bold;
    color: #6A1B9A;
}

/* Estilos del formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #6A1B9A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4A148C;
}
