body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #140c33;
    color: white;
}
header {
    background-color: #140c33;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
    position: relative;
}
.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
}
nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -23px;
    width: 0;
    height: 4px;
    background: #a86bd5;
    transform-origin: left;
}
nav a:hover::after {
    animation: smooth-infinite-bar 0.8s linear forwards;
}
@keyframes smooth-infinite-bar {
    0% { width: 0%; transform: translateX(0); }
    50% { width: 100%; transform: translateX(0); }
    100% { width: 100%; transform: translateX(0); }
}
.logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
}
.logo span {
    display: block;
    font-size: 20px;
    line-height: 1;
}
.hero {
    background-color: #1b133d;
    text-align: center;
    padding: 250px 20px 200px 20px; /* Aumenta la altura */
    position: relative; /* Permite posicionar el search-container sobre él */
}
.hero h2 {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}
.search-container {
    position: absolute;
    top: 80%; /* Lo subimos más */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado perfecto */
    background: #fff;
    color: #140c33;
    padding: 25px 30px;
    border-radius: 12px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.search-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px; /* Borde redondeado */
    overflow: hidden;
    width: 100%;
}

.search-box input {
    flex: 1;
    padding: 14px; /* Tamaño adecuado */
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 50px 0 0 50px;
}

.search-box button {
    background: #8000c8;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: -5px;
    font-weight: bold;
    transition: background 0.3s;
}

.search-box button:hover {
    background: #9900e6;
}

@media(max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .hero h2 {
        font-size: 48px;
    }
    .search-container {
        width: 90%;
    }
}
