* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed; /* clave para que se sobreponga */
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #1e1e2f;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


.top-icon,
.middle-icon,
.bottom-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.middle-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.main-content {
    flex: 1;
    position: relative;
}

header .global {
    position: absolute;
    top: 40px;
    right: 60px;
    color: white;
    font-weight: bold;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/los-becarios-son-contratados-por-las-empresas-donde-hacen-prácticas-formativas_2-1024x768.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Logo dentro del hero */
.hero .logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 130px;
    z-index: 10;
}

.hero .text {
    position: absolute;
    bottom: 80px;
    left: 100px;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.icon-img {
    width: 28px; /* Ajusta el tamaño del ícono */
    height: 30px; /* Ajusta el tamaño del ícono */
    fill: white;  /* Color del ícono */
    transition: transform 0.3s ease-in-out; /* Animación para hover */
}

.icon-img:hover {
    transform: scale(1.2); /* Efecto de aumento al pasar el ratón */
}

.icon-global {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: -10px;   /* Mueve hacia la izquierda */
    margin-top: 5px;     /* Mueve hacia abajo */
    vertical-align: middle;
}

.global-text {
    color: white;
    font-size: 18px;
}

.middle-icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

/* En tu archivo practicantes.css o dentro de una <style> */
.sidebar.collapsed {
    transform: translateX(-100%);
}

@keyframes bounceIn {
    0% { transform: translateX(-100%) scale(0.95); }
    60% { transform: translateX(30px) scale(1.05); }
    80% { transform: translateX(-10px) scale(0.98); }
    100% { transform: translateX(0) scale(1); }
}

.sidebar.bounce {
    animation: bounceIn 0.6s ease;
}

