* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}

.back-button {
    position: absolute;
    top: -2rem;
    left: -2rem;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: #005195;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle span {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.form-container {
    background-color: #005195;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 10rem; /* Bajar el cuadro */
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem; /* Espacio extra debajo del título */
}

label {
    display: flex; /* Activa flexbox para el label */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    font-size: 0.9rem;
    color: #b0c4de;
    margin-bottom: 0.3rem;
    text-align: center; /* Asegura que el texto también esté centrado */
}


input {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4d4d4d;
    color: white;
}

button {
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #0096FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

button:hover {
    background-color: #007acc;
}

.login-prompt {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #b0c4de;
}

.login-prompt a {
    color: #0096FF;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}
