* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow: hidden; /* Previene el scroll innecesario */
}

.logo {
    margin-top: 9rem;
}

.logo img {
    width: 150px;
    margin-bottom: 1.5rem;
}

.logo h1 {
    font-size: 2rem;
    color: #0096FF;
    margin-bottom: 0.5rem;
}

.logo p {
    font-size: 1rem;
    color: #4d4d4d;
    margin-bottom: 2rem;
}

/* Cuadro de botones */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #005195;
    padding: 2rem 0;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: absolute;
    bottom: 0;
    height: 50%;
}

.buttons button {
    width: 80%;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons button:nth-child(2) {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

.buttons button:nth-child(2):hover {
    background-color: #007bff;
    color: white;
}

/* Responsividad: Forzar el mismo diseño en todos los dispositivos */
@media screen and (max-width: 1024px), screen and (max-width: 768px) {
    body {
        justify-content: center; /* Mantiene el contenido centrado */
        align-items: center;
    }

    .container {
        max-width: 400px; /* Mantiene el ancho de PC */
        height: 100vh; /* Asegura que ocupe toda la pantalla */
    }

    .logo {
        margin-top: 9rem; /* Igual que en PC */
    }

    .logo img {
        width: 150px; /* Misma proporción */
    }

    .logo h1 {
        font-size: 2rem; /* Igual que en PC */
    }

    .logo p {
        font-size: 1rem; /* Igual que en PC */
    }

    .buttons {
        height: 50%; /* Misma altura */
        padding: 2rem 0;
    }

    .buttons button {
        width: 80%;
        font-size: 1rem; /* Misma proporción */
    }
}

